* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

/*
  AUDERE EST FACERE
*/

:root {
  --color:#eee;
  --dark-color:#999;
}

html {
  height:100%;
  background-color:black;
  /* scrollbar-color:#c8c8c8 #dedede; */
  scrollbar-color:#60606060 #00000000;
  scrollbar-width:2px
}

body {
  background-color:black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  line-height:1.6;
  color:var(--color);
  min-height:100%
}

p, b, i, h1, h2, h4, h5, span {
  color:var(--color)
}

main p {
  margin-bottom:16px;
}

b, i {
  --color:#fff;
}

h1, h2, h4 {
  font-family:"Roboto Mono";
  text-transform:uppercase;
}

h1, h2 {
  text-shadow:0px 3px 3px var(--dark-color);
  font-weight:300;
}

h4 {
  margin-bottom:16px;
  font-weight:100;
}

a {
  --bright-color:#bcebff;
  --color:#72cff7;
  --dark-color:#236b89;
  color:var(--color);
  border-bottom:1px solid var(--dark-color);
  text-decoration:none;
}

a:hover:not(.disabled) {
  color:var(--bright-color);
  border-bottom:2px solid var(--dark-color);
}

li {
  margin-left:16px
}

ol li {
  padding-bottom:16px
}

hr {
  margin:1.5rem 0 0.75rem 0;
  border-bottom:1px solid #999;
  max-width:700px;
}

main {
  margin:auto;
  max-width:700px;
  padding-bottom:60px
}

#hero {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:90vh;
}

#gesture_container, #canvas_container, #controls_container {
  display:var(--bb-display);
}

#black_box_container {
  background-color:black;
  height:288px;
  justify-items:center;
  align-content:center;
  position:relative;
}

#gesture_container {
  --bb-display:flex;
  position:absolute;
  left:120px;
  height:60px;
  width:60px;
  border:2px dotted #999;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  opacity:75%;
  z-index:1;
  background-color:black;
}

#gesture_container:hover {
  opacity:100%;
  cursor:pointer;
}

#gesture {
  font-size:24px;
  width:min-content;
  height:min-content;
  user-select:none;
}

#canvas_container {
  --bb-display:flex;
  width:180px;
  height:180px;
  align-items:center;
  justify-content:center;
}

#canvas {
  width:120px;
  height:120px;
  border:2px solid #444;
  filter:drop-shadow(0px 0px 10px #444);
}

#controls_container {
  --bb-display:grid;
  grid-template-rows:30px 30px 30px;
  grid-template-columns:30px 30px 30px 30px;
}

#controls_container button {
  width:15px;
  height:15px;
  border:2px solid #aaa;
  background-color:#222;
  margin:8px;
  border-radius:50%;
  filter:drop-shadow(0px 0px 10px #999);
}

#controls_container button:hover {
  background-color:#444;
}

#controls_container button:active, #controls_container button.active {
  background-color:#666;
}

#up {
  grid-row:1;
  grid-column:2;
}

#down {
  grid-row:3;
  grid-column:2;
}

#left {
  grid-row:2;
  grid-column:1;
}

#right {
  grid-row:2;
  grid-column:3;
}

#select {
  grid-row:1;
  grid-column:4;
}

#arrow {
  width:48px;
  height:96px;
  filter:drop-shadow(0px 3px 3px #fff);
  animation:arrow 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

#footer {
  height:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#love {
  position:relative;
  top:4px;
  width:18px;
}

.section {
  margin:0 10px 50px 10px;
}

.red {
  --bright-color:#fe9987;
  --color:#ef654d;
  --dark-color:#763529;
}

.yellow {
  --bright-color:#fbd882;
  --color:#fbb601;
  --dark-color:#806624;
}

.green {
  --bright-color:#e4f882;
  --color:#c7e916;
  --dark-color:#6c7a24;
}

.blue {
  --bright-color:#bcebff;
  --color:#72cff7;
  --dark-color:#236b89;
}

.muted {
  --color:#999;
  --dark-color:#666;
}

.disabled {
  text-decoration:line-through;
}

.closer {
  margin-bottom:0;
}

.dn {
  display:none !important;
}

.oz {
  opacity:0;
}

.oh {
  opacity:0.4;
}

.of {
  opacity:1;
}

.in {
  pointer-events:none !important;
}

.cna {
  cursor:not-allowed;
}

::-webkit-scrollbar {
  -webkit-appearance:none;
  width:2px;
}

::-webkit-scrollbar-thumb {
  background:#aaa;
  border-radius:6px;
}

::-webkit-scrollbar-thumb:hover {
  background:#00000000;
}

::-webkit-scrollbar-track {
  background:#00000000;
  border-radius:6px;
}

@keyframes arrow {
  0%, 100% {
    transform:translateY(0)
  }
  50% {
    transform:translateY(10px)
  }
}

@keyframes fade-in {
  0% {
    opacity:0.4
  }
  50% {
    opacity:0.4
  }
  100% {
    opacity:1
  }
}

@keyframes fade-in-from-zero {
  0% {
    opacity:0
  }
  25% {
    opacity:0
  }
  100% {
    opacity:1
  }
}

@media screen and (max-width:768px) {
  #gesture_container, #controls_container {
    display:none
  }
  #canvas_container {
    display:var(--bb-display);
    opacity:1
  }
}